[Unit]
Description=Travellings Backend API Daemon
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/travellings-node/
ExecStart=node api.js
Restart=always
